@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:wght@200;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-left: 275px;
    margin-right: 550px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: whitesmoke;
}

img {
    height: 28px;
    width: 33px;
    border-image-width: 800em;
}

.text1 {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
}

.text2 {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder
}

.body1 img {
    height: 425px;
    width: 520px;
}

h1 {
    font-size: 4em;
    font-family: sans-serif;
}

.body1 {
    background: yellow;
}

.text-style {
    font-family: Comic Sans MS;
    font-size: 2em;
}

.link-button {
    text-decoration: none;
    text-align: center;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 150px;
    border-color: white;
    padding: 18px 60px;
    font-family: Comic Sans MS;

}

.body1 div {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.body1 div div {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.font1 {
    font-weight: 500;
    font-size: 1.1em;
}

.bottom div {
    display: flex;
    justify-content: space-around;
}

.bottom div div {
    display: flex;
    flex-direction: column;
    padding: 0px;


}


.bottom ul {
    list-style: none;
    font-weight: 100;
}

#language {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin-left: 163px;
    margin-bottom: 25px;
    font-size: 25px;
}


footer ul {
    display: flex;
    list-style: none;
    background-color: black;
    color: white;
    align-items: flex-start;
    text-align: left;

}

footer ul li {
    margin-left: 145px;
    padding: 20px;
    font-size: 1.0em;
}